@model IEnumerable<BLL.DTO.CollectionDTO>

<head>
    <title>Collections</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css" />
    @*<link rel="stylesheet" href="/css/gameList.css" />*@
</head>

<h2>My Collections</h2>

<p>
    <a class="btn btn-info btn-lg" asp-controller="Collection" asp-action="Create">Create Collection</a>
</p>

<table class="table table-bordered" style="background-color: lightgray;">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Games</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">
                    <a class="btn btn-link" asp-controller="Game" asp-action="GetGamesByCollectionId" asp-route-CollectionId="@item.Id">@item.Name</a>
                <td style="text-align: center; vertical-align: middle">
                    @item.Date.ToString("dd.MM.yyyy, hh:mm")
                </td>
                <td class="collectionActions" style="text-align: center; vertical-align: middle" >@item.UserCollections.Count</td>
                <td>
                    <div class="collectionActions" style="text-align: center">
                        <a class="btn btn-success" asp-controller="Collection" asp-action="SelectGamesToCollection" asp-route-CollectionId="@item.Id">Add To</a>
                        <a class="btn btn-danger" asp-controller="Collection" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
