@model IEnumerable<BLL.DTO.UserGameDTO>
@*<h2>Game Library</h2>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game Library</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="/css/gameList.css" />
    <style>
        /* Remove the navbar's default rounded borders and increase the bottom margin */
        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }

        /* Remove the jumbotron's default bottom margin */
        .jumbotron {
            margin-bottom: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
    <h2>My Library</h2> 
    @*<div class="container">*@
        <div class="row" style="margin-top: 29px">
        @foreach (var item in Model)
        {
        <div class="col-sm-3">
            <div class="card">
                <a class="btn-link" asp-controller="Game" asp-action="GameDetails" asp-route-id="@item.GameId">
                    <img class="card-img-top" src="@item.Game.HeaderImage" alt="Card image" style="width:100%">
                </a>
                <div class="card-body">
                    <a class="btn-link" asp-controller="Game" asp-action="GameDetails" asp-route-id="@item.GameId">
                        <h4 class="card-title">@item.Game.Name</h4>
                    </a>
                    <p class="card-text">
                    <p>Release Date: @item.Game.ReleaseDate.ToShortDateString()</p>
                    <a class="btn icon-btn btn-warning remove-btn" asp-action="RemoveGame" asp-route-id="@item.Id">
                        <span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>
                        Remove
                    </a>
                    @*<p>UserId: @item.ApplicationUser</p>
                    <a class="btn btn-primary stretched-link" asp-controller="UserGameLibrary" asp-action="AddGameToUserLibrary" asp-route-id="@item.Id">To library</a>
                    <form asp-action="Update" asp-controller="UserGameLibrary" asp-antiforgery="true" asp-route-id="@item.Id">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Have passed
                        </label>
                    </form>*@
                </div>
            </div>
        </div>
        }
    </div> @*</div><br>*@
    }
    else
    {
        <h2>Please, login or register to get the full user experience</h2>
    }
</body>
</html>
