@model IEnumerable<BLL.DTO.UserGameDTO>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game Library</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/gameList.css" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <h2>My Library</h2>

        <div class="row" style="margin-top: 29px">

            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">

                    <div class="card">

                        <div class="card-image-wrapper">

                            <a class="btn-link" asp-controller="Game" asp-action="GameDetails" asp-route-id="@item.GameId">
                                <img class="card-img-top" src="@item.Game.HeaderImage" alt="Card image">
                            </a>

                            <a type="button" class="btn btn-warning btn-action btn-remove" asp-action="RemoveGame" asp-route-id="@item.Id">
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                <span class="remove-text">Remove</span>
                            </a>
                        </div>

                        <div class="card-body">

                            <a class="btn-link" asp-controller="Game" asp-action="GameDetails" asp-route-id="@item.GameId">
                                <h4 class="card-title base-card-title">@item.Game.Name</h4>
                            </a>

                            <p class="card-text" style="margin-bottom: 0; margin-top: 7%">Release Date: @item.Game.ReleaseDate</p>
                        </div>

                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h2>Please, login or register to get the full user experience</h2>
    }
</body>
</html>
