@model IEnumerable<BLL.DTO.UserCollectionDTO>

<head>
    <title>My Collection</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/gameList.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="~/css/buttons.css" />
</head>
<body>
    <h2>@Model.Select(uc => uc.Collection.Name).ToArray().FirstOrDefault()</h2>
    <div class="gameCards" style="margin-top: 29px">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-3">
                    <div class="card @*border-0*@">
                        <a class="btn-link" asp-controller="Game" asp-action="GameDetails" asp-route-id="@item.UserGame.Game.Id">
                            <img class="card-img-top" src="@item.UserGame.Game.HeaderImage" alt="Card image" style="width:100%">
                        </a>
                        <div class="card-body">
                            <a class="btn-link" asp-controller="Game" asp-action="GameDetails" asp-route-id="@item.UserGame.Id">
                                <h4 class="card-title">@item.UserGame.Game.Name</h4>
                            </a>
                            <p class="card-text">
                            <p style="margin-bottom: 0; margin-top: 7%">Release Date: @item.UserGame.Game.ReleaseDate.ToShortDateString()</p>

                            <form method="post" action="@Url.Action("RemoveGameFromCollection", "Collection")">
                                <input type="hidden" name="userCollectionDTO.CollectionId" value="@item.CollectionId" />
                                <input type="hidden" name="userCollectionDTO.UserGameId" value="@item.UserGameId" />
                                <button type="submit" class="btn btn-warning btn-action btn-remove">
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                    <span class="remove-text">Remove</span>
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>