@model BLL.DTO.GameDTO
@using System.Security.Claims;

<head>
    <title>Game Details</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/comments.css" />
    <link rel="stylesheet" href="~/css/gameCard.css" />
</head>

<div class="card">

    <h5 class="card-header">@Html.DisplayFor(g => g.Name)</h5>

    <div class="card-body">

        <div class="info-table">

            <img class="info-table-left" src="@Model.HeaderImage">

            <div class="info-table-right">

                <table class="table table-borderless table-sm">
                    <tr>
                        <th>Age Rating:</th>
                        <td>@Html.DisplayFor(g => g.Rating)</td>
                    </tr>
                    <tr>
                        <th>Genre:</th>
                        <td>@string.Join(", ", Model.GameGenres.Select(g => g.Genre.Name).ToArray())</td>
                    </tr>
                    <tr>
                        <th>Release Date:</th>
                        <td>@Html.DisplayFor(g => g.ReleaseDate)</td>
                    </tr>
                    <tr>
                        <th>Developer:</th>
                        <td>@Html.DisplayFor(g => g.Developer)</td>
                    </tr>
                    <tr>
                        <th>Score:</th>
                        <td>@ViewBag.gameRating/5 (@ViewBag.ratingsNumber)</td>
                    </tr>
                    @{
                        var ratingInputDisabled = ViewBag.hasUserRated ? "disabled" : "";
                    }
                </table>

                <form class="rate-form input-group mb-3" asp-action="RateGame" asp-route-gameId="@Model.Id">

                    <div style="background-color: #e9ecef"
                         class="input-group-prepend">
                        <button style="border-color: #d8dde1" class="btn btn-outline-secondary @ratingInputDisabled" type="submit">&#11088;</button>
                    </div>

                    <input style="max-width:73px" type="number" min="1" max="5" class="form-control @ratingInputDisabled" placeholder="rate" aria-label="" name="ratingScore" aria-describedby="basic-addon1" required @ratingInputDisabled>

                </form>

            </div>

        </div>

        <div class="game-description">

            <h4 style="margin-bottom: 2%;">Description:</h4>
            <p>@Html.DisplayFor(g => g.Description)</p>

        </div>

        <div class="trailer">

            <h4 style="margin-bottom: 2%;">Trailer:</h4>

            @*<p align="center">
            <iframe width="560" height="315" src="@Model.Trailer" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p>*@

            <div class="trailer" style="width: 50%; min-width:330px; height:auto; display: block; margin-left: auto; margin-right: auto;">

                <div class="video-container embed-responsive embed-responsive-16by9">
                    <iframe src="@Model.Trailer" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Comment" asp-action="CreateComment" method="post" asp-antiforgery="true">
        <div class="mb-3">

            <input name="GameId" type="hidden" value="@Model.Id" />

            <textarea class="form-control" name="Content" placeholder="Write a comment" id="exampleFormControlTextarea1" rows="3"></textarea>

            <div>
                <input class="btn btn-success" type="submit" value="Send" />
            </div>

        </div>
    </form>
}
else
{
    <h5 class="restrictedComments">
        <a class="btn-link" asp-controller="Account" asp-action="Login">Sign in</a> or <a class="btn-link" asp-controller="Account" asp-action="Register">sign up</a> to comment
    </h5>
}

@{
    var hasComments = !Model.Comments.Any() ? "d-none" : "";
}

<div class="comments-container">

    <ul id="comments-list" class="comments-list @hasComments">

        @foreach (var item in Model.Comments.Where(c => c.ReplyToCommentId is null))
        {
            <li>
                @if (item.ReplyToCommentId == null)
                {
                    <div class="comment-main-level">

                        <div class="comment-avatar"><img src="https://i.ibb.co/MZZK62V/default-user-img.png" alt="user-image"></div>

                        <div class="comment-box">
                            <div class="comment-head">

                                <h6 class="comment-name by-author"><a href="">@item.ApplicationUser.Nickname</a></h6>

                                <span>@item.Date.ToString("dd.MM.yyyy, HH:mm")</span>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="comment-btn-link">

                                        @if (item.ApplicationUserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                                        {
                                            <a Class="btn btn-link action-comment-btn" asp-controller="Comment" asp-action="EditComment" asp-route-id="@item.Id" asp-route-gameId="@item.GameId"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            @*<a Class="btn btn-link" asp-controller="Comment" asp-action="Delete" asp-route-id="@item.Id" asp-route-gameId="@item.GameId">Delete</a>*@
                                        }
                                        else if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                                        {
                                            <a Class="btn btn-link action-comment-btn" asp-controller="AdminComment" asp-action="EditComment" asp-route-id="@item.Id" asp-route-gameId="@item.GameId"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            @*<a Class="btn btn-link" asp-controller="Comment" asp-action="Delete" asp-route-id="@item.Id" asp-route-gameId="@item.GameId">Delete</a>*@
                                        }

                                        <a Class="btn btn-link action-comment-btn" href="#" data-bs-toggle="modal" data-bs-target="#reply-window-@item.Id"><i class="fa fa-reply" aria-hidden="true"></i></a>

                                        <!-- Modal -->
                                        <div class="modal fade" id="reply-window-@item.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reply-window-@item.Id-label" aria-hidden="true">

                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">

                                                        <h5 class="modal-title" id="reply-window-@item.Id-label">
                                                            Reply to @@@item.ApplicationUser.Nickname
                                                        </h5>

                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                                                    </div>

                                                    <form asp-controller="Comment" asp-action="CreateComment" method="post" asp-antiforgery="true">

                                                        <div class="modal-body">
                                                            <div class="mb-3">

                                                                <input name="nicknameToReply" type="hidden" value="@item.ApplicationUser.Nickname" />
                                                                <input name="gameId" type="hidden" value="@item.GameId" />
                                                                <input name="replyToCommentId" type="hidden" value="@item.Id" />

                                                                <textarea class="form-control" name="Content" placeholder="Write a reply" id="exampleFormControlTextarea1" rows="3"></textarea>

                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <input class="btn btn-primary" type="submit" value="Reply" />
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="comment-content">
                                <p>@item.Content</p>
                            </div>
                        </div>
                    </div>
                }

                @foreach (var reply in item.Replies.OrderBy(r => r.Date))
                {
                    <ul class="comments-list reply-list">

                        <li style="display: flex; align-items: start;">

                            <div class="comment-avatar"><img src="https://i.ibb.co/MZZK62V/default-user-img.png" alt="user-image"></div>

                            <div class="comment-box">
                                <div class="comment-head">

                                    <h6 class="comment-name"><a href="">@reply.ApplicationUser.Nickname</a></h6>

                                    <span>@reply.Date.ToString("dd.MM.yyyy, HH:mm")</span>

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="comment-btn-link">

                                            @if (reply.ApplicationUserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                                            {
                                                <a Class="btn btn-link action-comment-btn" disabled asp-controller="Comment" asp-action="EditComment" asp-route-id="@reply.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                @*<a Class="btn btn-link" asp-controller="Comment" asp-action="Delete" asp-route-id="@reply.Id" asp-route-gameId="@reply.GameId">Delete</a>*@
                                            }
                                            else if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                                            {
                                                <a Class="btn btn-link action-comment-btn" asp-controller="AdminComment" asp-action="EditComment" asp-route-id="@reply.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                @*<a Class="btn btn-link" asp-controller="Comment" asp-action="Delete" asp-route-id="@reply.Id" asp-route-gameId="@reply.GameId">Delete</a>*@
                                            }

                                            <a Class="btn btn-link action-comment-btn" href="#" data-bs-toggle="modal" data-bs-target="#reply-to-child-window-@reply.Id"><i class="fa fa-reply" aria-hidden="true"></i></a>

                                            <!-- Modal -->
                                            <div class="modal fade" id="reply-to-child-window-@reply.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reply-to-child-window-@reply.Id-label" aria-hidden="true">

                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">

                                                            <h5 class="modal-title" id="reply-to-child-window-@reply.Id-label">
                                                                Reply to @@@reply.ApplicationUser.Nickname
                                                            </h5>

                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                                                        </div>

                                                        <form asp-controller="Comment" asp-action="CreateComment" method="post" asp-antiforgery="true">

                                                            <div class="modal-body">
                                                                <div class="mb-3">

                                                                    <input name="nicknameToReply" type="hidden" value="@reply.ApplicationUser.Nickname" />
                                                                    <input name="gameId" type="hidden" value="@reply.GameId" />
                                                                    <input name="replyToCommentId" type="hidden" value="@item.Id" />

                                                                    <textarea class="form-control" name="Content" placeholder="Write a reply" id="exampleFormControlTextarea1" rows="3"></textarea>

                                                                </div>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <input class="btn btn-primary" type="submit" value="Relpy" />
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    }
                                </div>

                                <div class="comment-content">
                                    <p>
                                        <a href="">@@@reply.NicknameToReply</a> @reply.Content
                                    </p>
                                </div>

                            </div>
                        </li>
                    </ul>
                }
            </li>
        }
    </ul>
</div>