@model BLL.DTO.GameDTO
@using System.Security.Claims;

<head>
    <title>Game Details</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/comments.css" />
    <link rel="stylesheet" href="~/css/gameCard.css" />
</head>

<div class="card">
    <h5 class="card-header">@Html.DisplayFor(g => g.Name)</h5>
    <div class="card-body">

        <img class="info-table img" src="@Model.HeaderImage">

        <table class="info-table">
            <tr>
                <th>Age Rating:</th>
                <td>@Html.DisplayFor(g => g.Rating)</td>
            </tr>
            <tr>
                <th>Genre:</th>
                <td>@string.Join(", ", Model.GameGenres.Select(g => g.Genre.Name).ToArray())</td>
            </tr>
            <tr>
                <th>Release Date:</th>
                <td>@Html.DisplayFor(g => g.ReleaseDate)</td>
            </tr>
            <tr>
                <th>Developer:</th>
                <td>@Html.DisplayFor(g => g.Developer)</td>
            </tr>
            <tr>
                <th>Score:</th>
                <td>@ViewBag.gameRating/5 (@ViewBag.ratingsNumber)</td>
            </tr>
            <tr>
                <td>
                    <form class="input-group mb-3" style="top:62px" asp-action="RateGame" asp-route-gameId="@Model.Id">
                        <div style="background-color: #e9ecef"
                             class="input-group-prepend">
                            <button style="border-color: #d8dde1" class="btn btn-outline-secondary" type="submit">&#11088;</button>
                        </div>
                        <input style="max-width:73px" type="number" min="1" max="5" class="form-control" placeholder="rate" aria-label="" name="ratingScore" aria-describedby="basic-addon1">
                    </form>
                </td>
            </tr>
        </table>

        <div class="game-description">
            <h4 style="margin-bottom: 2%;">Description:</h4>
            <p>@Html.DisplayFor(g => g.Description)</p>
        </div>

        <div class="trailer">
            <h4 style="margin-bottom: 2%;">Trailer:</h4>
            <p align="center"><iframe width="560" height="315" src="@Model.Trailer" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
        </div>
    </div>

</div>

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Comment" asp-action="CreateComment" method="post" asp-antiforgery="true">
        <div class="mb-3">
            <input name="GameId" type="hidden" value="@Model.Id" />
            <textarea class="form-control" name="Content" placeholder="Write a comment" id="exampleFormControlTextarea1" rows="3"></textarea>
            <div>
                <input class="btn btn-success" type="submit" value="Send" />
            </div>
        </div>
    </form>
}
else
{
    <h5 class="forbidden">
        <a class="btn-link" asp-controller="Account" asp-action="Login">Sign in</a> or <a class="btn-link" asp-controller="Account" asp-action="Register">sign up</a> to comment
    </h5>
}

<div class="comments-container">
    <ul id="comments-list" class="comments-list">
        @foreach (var item in Model.Comments)
        {
            <li>
                @if (item.ReplyToCommentId == null)
                {
                    <div class="comment-main-level">
                        <div class="comment-avatar"><img src="https://i.ibb.co/7CdvBXQ/default-user-image.png" alt="default-user-image" border="0"></div>
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name by-author"><a href="">@item.ApplicationUser.Nickname</a></h6>
                                <span>@item.Date.ToString("dd.MM.yyyy, HH:mm")</span>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="comment-btn-link">
                                        <a Class="btn btn-link" asp-controller="Comment" asp-action="ReplyToParentComment" asp-route-id="@item.Id" asp-route-gameId="@item.GameId" asp-route-nickname="@item.ApplicationUser.Nickname">Reply</a>
                                        @if (item.ApplicationUserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                                        {
                                            <a Class="btn btn-link" asp-controller="Comment" asp-action="EditComment" asp-route-id="@item.Id" asp-route-gameId="@item.GameId">Edit</a>
                                            @*<a Class="btn btn-link" asp-controller="Comment" asp-action="Delete" asp-route-id="@item.Id" asp-route-gameId="@item.GameId">Delete</a>*@
                                        }
                                        else if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                                        {
                                            <a Class="btn btn-link" asp-controller="AdminComment" asp-action="EditComment" asp-route-id="@item.Id" asp-route-gameId="@item.GameId">Edit</a>
                                            @*<a Class="btn btn-link" asp-controller="Comment" asp-action="Delete" asp-route-id="@item.Id" asp-route-gameId="@item.GameId">Delete</a>*@
                                        }
                                    </div>
                                }
                            </div>
                            <div class="comment-content">
                                <p>@item.Content</p>
                            </div>
                        </div>
                    </div>
                }

                @foreach (var reply in item.Replies)
                {
                    <ul class="comments-list reply-list">
                        <li>
                            <div class="comment-avatar"><img src="https://i.ibb.co/7CdvBXQ/default-user-image.png" alt=""></div>
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name"><a href="">@reply.ApplicationUser.Nickname</a></h6>
                                    <span>@reply.Date.ToString("dd.MM.yyyy, HH:mm")</span>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="comment-btn-link">
                                            <a Class="btn btn-link" asp-controller="Comment" asp-action="ReplyToChildComment" asp-route-replyToCommentId="@reply.ReplyToCommentId" asp-route-gameId="@reply.GameId" , asp-route-nickname="@reply.ApplicationUser.Nickname">Reply</a>
                                            @if (reply.ApplicationUserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                                            {
                                                <a Class="btn btn-link" disabled asp-controller="Comment" asp-action="EditComment" asp-route-id="@reply.Id">Edit</a>
                                                @*<a Class="btn btn-link" asp-controller="Comment" asp-action="Delete" asp-route-id="@reply.Id" asp-route-gameId="@reply.GameId">Delete</a>*@
                                            }
                                            else if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
                                            {
                                                <a Class="btn btn-link" asp-controller="AdminComment" asp-action="EditComment" asp-route-id="@reply.Id">Edit</a>
                                                @*<a Class="btn btn-link" asp-controller="Comment" asp-action="Delete" asp-route-id="@reply.Id" asp-route-gameId="@reply.GameId">Delete</a>*@
                                            }
                                        </div>
                                    }
                                </div>
                                <div class="comment-content">
                                    <p><a href="">@@@reply.NicknameToReply</a> @reply.Content</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                }
            </li>
        }
    </ul>
</div>