@model Web.ViewModels.GameCardsViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game Library</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/gameList.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
</head>
<body>
    <form class="form-inline my-2 my-lg-0" asp-action="SearchGame" style="border-color:#bfc2c6">

        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="SearchString">

        <button class="btn btn-custom my-2 my-sm-0" type="submit">Search</button>

        <div class="dropdown">

            <button class="btn btn-secondary dropdown-toggle drpdwn-genres" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                @foreach (var genre in Model.Genres)
                {
                    <a class="dropdown-item" asp-action="FilterGamesByGenre" asp-route-gameGenreId="@genre.Id">@genre.Name</a>
                }

            </div>
        </div>
    </form>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="recommendations" style="margin-bottom:30px; margin-top:30px; overflow: hidden;">

            @*<img class="logo" src="/game-library-logo.png" alt="Card image">*@

            <div class="carousel slide carousel-fade" data-bs-ride="carousel" id="carouselExampleFade">

                <div class="carousel-inner">

                    @{
                        int activeRange = 1;
                    }

                    @for (int i = 0; i < Model.recommendedGames.Count(); i++)
                    {
                        var range = Model.recommendedGames.ElementAt(i);

                        string activeClass = i < activeRange ? "active" : "";

                        <div class="carousel-item @activeClass">

                            @for (int j = 0; j < range.Count(); j++)
                            {
                                var recGame = range.ElementAt(j);

                                <div class="recommended-game-card">

                                    <a href="@Url.Action("GameDetails", "Game", new {recGame.Id})">

                                        @if (recGame.RecommendationType == BLL.DTO.RecommendationType.TopRated)
                                        {
                                            <span class="badge text-bg-dark">Top Rated</span>
                                        }
                                        else
                                        {
                                            <span class="badge text-bg-success">For You</span>
                                        }

                                        <img class="carousel-card-img" src="@recGame.HeaderImage" alt="Card image">
                                        <h4 class="carousel-card-title">@recGame.Name</h4>

                                    </a>

                                </div>
                            }
                        </div>
                    }
                </div>

                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>
    }

    @{
        Model.ActionName = "Index";
    }

    @await Html.PartialAsync("~/Views/Game/GameCards.cshtml", Model)

    @{
        var prevDisabled = !Model.PaginatedGames.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.PaginatedGames.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PaginatedGames.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PaginatedGames.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>