@*@model BLL.DTO.GameDTO*@
@model Web.ViewModels.GameToEditViewModel

<h2>Game Editing</h2>

<head>
    <link rel="stylesheet" href="/css/site.css" />
</head>

<form asp-action="EditGame" asp-controller="Admin" asp-antiforgery="true">
    <div>
        <div asp-validation-summary="ModelOnly"></div>

        @Html.HiddenFor(g => g.GameDto.Id)
        @Html.HiddenFor(g => g.GameDto.ApplicationUserId)

        <div class="mb-3 mt-3">
            <label asp-for="@Model.GameDto.Name"></label>
            <input class="form-control" asp-for="@Model.GameDto.Name" placeholder="Enter name">

            <label asp-for="@Model.GameDto.Description"></label>
            <textarea class="form-control" asp-for="@Model.GameDto.Description" rows="3" placeholder="Enter description"></textarea>

            <label asp-for="@Model.GameDto.HeaderImage">Header Image</label>
            <input type="url" class="form-control" asp-for="@Model.GameDto.HeaderImage" placeholder="Enter link">

            <label asp-for="@Model.GameDto.ReleaseDate">Release Date</label>
            <input type="date" class="form-control" asp-for="@Model.GameDto.ReleaseDate" placeholder="Enter release date">

            <label asp-for="@Model.GameDto.Rating"></label>
            <input class="form-control" asp-for="@Model.GameDto.Rating" placeholder="Enter rating">

            <label>Genre(s)</label>

            <div class="form-group">
                <div style="display: flex; align-items: baseline; gap: 20px; margin-bottom: 10px; flex-flow: row wrap">
                    @for (int i = 0; i < ViewBag.genres.Count; i++)
                    {
                        int genreId = ViewBag.genres[i].Id;
                        bool isChecked = false;

                        foreach (var gameGenre in ViewBag.gameGenres)
                        {
                            if (gameGenre.GenreId == genreId)
                            {
                                isChecked = true;
                                break;
                            }
                        }

                        <label class="form-check-label" for="flexCheckDefault">
                        <input type="checkbox" name="selectedGenres" value="@genreId" @if (isChecked)
                        {
                            <text>checked</text>
                        } />
                            @ViewBag.genres[i].Name
                        </label>
                    }
                </div>
            </div>

            <label asp-for="@Model.GameDto.Trailer"></label>
            <input type="url" class="form-control" asp-for="@Model.GameDto.Trailer" placeholder="Enter link">

            <label asp-for="@Model.GameDto.Developer"></label>
            <input class="form-control" asp-for="@Model.GameDto.Developer" placeholder="Enter developer">
        </div>
        <div>
            @*<button type="submit" class="btn btn-warning">Edit</button>*@
            <button class="btn btn-warning" asp-controller="AdminGame" asp-action="EditGame" formmethod="post" style="width: 70px"
                    asp-route-pageNumber="@Model.PageNumber"
                    asp-route-actionName="@Model.ActionName"
                    asp-route-gameGenreId="@Model.GameGenreId"
                    asp-route-searchString="@Model.SearchString">
                Edit
            </button>
        </div>
    </div>
</form>
